.highlight {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.image {
  width: 630px;
  height: 470px;
  flex-shrink: 0;
}

.section_2_title {
  color: #2C4058;
  text-align: center;
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}